html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #ffead7;
  /*background: rgb(2, 0, 36);     
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 7%, rgba(0, 212, 255, 1) 100%);*/
  margin: 0;
}

#header {
  width: 100%;
  height: 75px;
  background: #ffdab9;
  text-align: center;
  border-bottom: 8px solid #ffdfc4;
  margin-bottom: 40px;
  line-height: 75px;
  font-size: 22px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main {
  width: 50%;
  height: auto;
  margin-left: 10%;
  background: #ffefe1;
  padding: 20px;
  text-align: center;
  float: left;
  bottom: 4px solid #ffead7;
}

#aside {
  width: 30%;
  height: 350px;
  background-image: url('https://i.ibb.co/5htH3GR/0-02-05-32380e39358d2cdbcb3a28a949183c63b1de8edce91c51c7f32abe30ed84cb04-54bcba9f8c8e6978.jpg');
  background-position: center;
  background-size: cover;
  padding: 10px;
  float: right;
  margin-right: 4%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* {
  margin: auto;
  padding: auto;
}

body {
  background: #ffead7;
}

#second {
  float: left;
}

#header {
  width: 100%;
  height: 75px;
  background: #ffdab9;
  text-align: center;
  border-bottom: 8px solid #ffdfc4;
  margin bottom: 10px;
  line-height: 75px;
  margin-bottom: 40px;
  font-size: 22px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main {
  width: 50%;
  height: auto;
  margin-left: 10%;
  background: #ffefe1;
  padding: 20px;
  text-align: center;
}

#aside {
  width: 10%;
  background-image: url('https://i.ibb.co/5htH3GR/0-02-05-32380e39358d2cdbcb3a28a949183c63b1de8edce91c51c7f32abe30ed84cb04-54bcba9f8c8e6978.jpg');
  background-position: center;
  background-size: cover;
  padding: 10%;
  float: right;
  margin-right: 6%
}
